/* Estilos generales de la tabla */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  max-width: 500px; /* Ancho máximo de la tabla */
  color: black; /* Letras de la tabla en color negro */
}

/* Estilos para las celdas */
th, td {
  border: 1px solid #10DA28;
  padding: 8px;
  background-color: #C7F9F5;
}

/* Estilos para los encabezados */
th {
  background-color: #10DA28;
}

/* Estilos para el cuerpo y texto */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #07177D; /* Color de fondo azul */
  color: white; /* Texto blanco */
}

/* Estilos para el título */
h1 {
  color: #dddddd; /* Letras del título en color gris claro */
  font-size: 22px;
  text-align: left; /* Alineación del h1 al lado izquierdo */
  margin-left: 20px; /* Margen izquierdo para el h1 */
}

/* Estilos para el logotipo */
.logo-container {
  position: absolute;
  top: 18.5px;
  right: 10px;
}

.logo-container img {
  width: 120px;
  height: auto;
}

/* Media query para tamaños de pantalla hasta 414px (iPhone 12) */
@media (max-width: 767px) {
  body {
      font-size: 14px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}




  
